.studyCardTask{
    @extend .my-2;
    @extend .p-3;
    @extend .position-relative;
    border: solid $dark;
    background-color: $dark;

    .title{
        @extend .text-start;
        @extend .fw-semibold;
        @extend .mb-1;
        color:$light;
    }

    .description{
        @extend .text-start;
        @extend .small;
        @extend .mb-0;     
        color:$light;
    }
}