@use "../../css/tokens.scss" as *;

.majorGraphTitle {
  @extend .fw-bold;
  @extend .mb-2;
  @extend .text-light;
  @extend .text-center;
}

.graphBox {
  border: 0 !important;
  background: transparent !important;
  padding: 0 !important;
  border-radius: 0 !important;
}
