// BasicHorizontalBar.scss
@use "../../css/tokens.scss" as *;

.majorChart {
  //Styles the bars 
  .MuiBarElement-root { fill: $primary; }

  // Styles the bar labels
  .barLabel {
    fill: $light !important;
    font-weight: 600;
    font-size: 12px;
    text-anchor:center;
  }
  

  .MuiChartsAxis-line,
  .MuiChartsAxis-tick { stroke: $light !important; }

  .MuiChartsAxis-label,
  .MuiChartsAxis-tickLabel { fill: $light !important; }

  .MuiChartsGrid-line { stroke: $light !important; }
}
