@use "../../css/tokens.scss" as *;

.row {
    @extend .row;
    @extend .align-items-center;
    @extend .gx-0;
    @extend .mb-2;
    @extend .rounded-3;
}

.left {
    @extend .col;
    @extend .py-2;
    @extend .px-3;
}

.right {
    @extend .col-auto;
    @extend .py-2;
    @extend .px-3;
    @extend .text-end;
}

.topMajor {
    @extend .bg-primary;
    color: $light-text-primary;
}

.normalMajor {
    
    

    background-color: $light-secondary;
    border: 2px solid $secondary;
    
}

.rankMajor {
    @extend .fw-bold;
    color: $light-text-primary;
}

.xp {
    @extend .fw-semibold;
}
