@use "../../css/tokens.scss" as *;

.profileContainer {
    @extend .mx-auto !optional; // centers horizontally
    background-color: $light-primary; // Background Color
    color: $light-text-primary;       // Text Color
}

.btn.btn-label {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    border-color: $light-primary;
    border-width: 0;

    background-color: $light-primary;
    color: $light-text-primary;
    transition: color 0.15s ease-in-out,
                background-color 0.15s ease-in-out;
}
.btn.btn-label:hover {
    background-color: $light-secondary;
    color: $light-text-primary;
}
.btn-btn-label:active {
    background-color: $dark-secondary;
    color: $dark-text-primary;
}

.profileSectionTitle {
    font-size: xx-large;
}

.profileHeader {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row;
    gap: 1rem;
    height: 15vh;
    padding: 0.5rem 0.25rem;
}

.profileIcon {
    height: 100%;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    width: auto;
}

.profileIcon svg {
    width: auto;
    height: 100%;
    display: block;
}

.profileHeader-text {
    display: flex;
    justify-content: start;
    flex-direction: column;
    font-size: 1rem;
}

.profileUsername {
    font-size: x-large;  
    font-weight: 600;
    margin: 0.15rem;
}

.profileStudentInfo {
    font-size: large;
    font-weight: 400;
    margin: 0.1rem;
}

// Dark Mode

body.dark-mode {
    background-color: $dark-primary;
    color: $dark-text-primary;
}

body.dark-mode .profileContainer {
    background-color: $dark-primary;
    color: $dark-text-primary;
}
