// Color Tokens
$primary: #1b50c4;
$secondary: #22c55e;
$light: #f8fafc;
$dark: #2d2d2d;
$red: #981221;


// New color pallet for light mode
// Primary should be used for screen background, while secondary should be used for tile background
$light-primary: #dddddd;
$light-secondary: #f9f9f9;
$light-text-primary: #1a1a1a;
// New Color pallet for dark mode
$dark-primary: #1a1a1a;
$dark-secondary: #343434;
$dark-text-primary: #f9f9f9;