@use "./tokens" as *;

body {
    background-color: $light;
    overflow-x: hidden;
    padding-bottom: 80px;
}

main,
.screen-container {
    padding-top: 1rem;
}

// Style for all spinners
.spinner{
    @extend .d-block;
    @extend .mx-auto;
}

/* src/styles/focus.css */
/* Make the default focus ring thicker and higher contrast */

:focus-visible {
  outline: 3px solid $secondary !important;
  outline-offset: 3px !important;
  border-radius: 8px;
}




