// Use all tokens (Ex: Colors/Fonts)
@use "./tokens.scss" as *;

// Use bootstrap classes
@import "bootstrap/scss/bootstrap";

// use all other scss syle sheets

//Base page styles
@import "./base.scss";

@import "../components/AlertCard/AlertCard.scss";
@import "../components/BottomNav/BottomNav.scss";
@import "../components/CourseCard/CourseCard.scss";
@import "../components/HeaderBar/HeaderBar.scss";
@import "../components/GpaDisplay/GpaDisplay.scss";
@import "../components/InfoBox/InfoBox.scss";
@import "../components/EventCard/EventCard.scss";
@import "../components/LeaderboardTable/LeaderboardTable.scss";
@import "../components/MajorGraph/MajorGraphCard.scss";
@import "../components/NavButton/NavButton.scss";
@import "../components/ProgressSummaryCard/ProgressSummaryCard.scss";
@import "../components/StudyPlanTitle/StudyPlanTitle.scss";
@import "../components/StudyTaskCard/StudyTaskCard.scss";
@import "../components/TopMajorsCard/TopMajorsCard.scss";
@import "../components/TournamentCard/TournamentCard.scss";
@import "../components/ScreenScroll/ScreenScroll.scss";
@import "../components/interaction/PullToRefresh.scss";
// Main container that wraps content sections

/*
//---------------
// Footer Section
// --------------
.footer {
    @extend .justify-content-around; 
    @extend .fixed-bottom; 
    @extend .border-top; 
    @extend .py-2;

    background-color: $primary;

}

.navButton{
    background-color: $light;
    border: $dark solid ;
    border-radius: 80px;
    width: 80px;
    height: 60px;
    text-align: center;
}

.navLabel{
     font-size: "0.75rem"; 
     color: "#ff0000ff";
}

// Non navigational buttons
.button{
    @extend .btn;
    background-color: $primary;
    color: $light;  //Text color
}

//----------------
// Header Section
//----------------

.headerBar {
    @extend .navbar;          
    @extend .navbar-dark;
    @extend .bg-primary;
    @extend .py-2;
    @extend .shadow-sm;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1030;
}

// Profile and Notification Icon
.headerIcon{
    color: $light;
}

.headerTitle{
    @extend .fw-bold;
    @extend .fs-5;
    color: $light;
}

.headerXp{
    @extend .small;
    color: $light;
}

.headerCenterText {
    @extend .text-center;
    @extend .text-white;
    flex-grow: 1;
}

//-------------------
// Event Card Styles
//-------------------


//------------------
// Study Card Styles
//------------------
.studyCardTitle{
    @extend .text-center; 
    @extend .p-3; 
    @extend .mb-4;  
    @extend .rounded-4; 
    
    background-color: $light;
    
    .title{
        @extend .fw-bold; 
        @extend .mb-1;
        color: $dark;
    }

    .gpaImpact{
        @extend .small;
        color: $dark;
    }
}

.studyCardTask{
    @extend .my-2;
    @extend .p-3;
    @extend .position-relative;
    border: solid $dark;
    background-color: $dark;

    .title{
        @extend .text-start;
        @extend .fw-semibold;
        @extend .mb-1;
        color:$light;
    }

    .description{
        @extend .text-start;
        @extend .small;
        @extend .mb-0;     
        color:$light;
    }
}

//------------------------
// Progress Report Styles
//-----------------------
.progressSummaryCard{
    @extend .d-flex;
    @extend .flex-row;
    @extend .justify-content-between;
    @extend .align-items-center;
    @extend .py-1;
    @extend .px-3;
    @extend .fs-5;
    
    background-color: $light;

    .description{
        @extend .fw-bolder;
        color:$dark;
    }

    .value{
        color:$dark;
    }
}
/*
body {
  background-color: $light;
  overflow-x: hidden;
  padding-top: 70px; // reserve space for fixed header
  padding-bottom: 80px; // reserve space for bottom nav
}

main, .screen-container {
  padding-top: 1rem;
}*/
