@use "../../css/tokens.scss" as *;

.bottomNavBar {
    @extend .justify-content-around;
    @extend .fixed-bottom;
    @extend .border-top;
    @extend .py-2;

    //margin-left: 6px;
    //margin-right: 6px;
    background-color: $light-secondary;

    // Each div gets a minimum width and centers its content
    > div {
        flex: 1;              
        display: flex;         
        justify-content: center;
        width: 44px;
    }

    // Individual navigation items
    .navItem {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 0.75rem;    // Text size under icons
        color: $light-text-primary;

        min-height: 44px;      
    }

    // Used when nav item is active (current page)
    .navItem.active {
        color: $primary;      // Change color to primary color
        font-weight:bolder;     // bold label
    }
}

// Dark Mode  


body.dark-mode .bottomNavBar {
    background-color: $dark-secondary;
}

body.dark-mode .bottomNavBar .navItem {
    color: $dark-text-primary;
}

body.dark-mode .bottomNavBar .navItem.active {
    color: $primary; 
}
