@use "../../css/tokens.scss" as *;

.historyCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    background-color: $light-secondary;

    .history-text {
        font-size: small;
        margin: 0;
        color: $light-text-primary;

    }
}

// Dark Mode
body.dark-mode .historyCard {
    background-color: $dark-secondary;

    .history-text {
        color: $dark-text-primary;
    }
}