@use "../../css/tokens.scss" as *;

.entry-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: $primary;
}

.entry-container {
    width: 80%;
    padding: 2rem;
    border-radius: 3%;
    background-color: $light-primary;
    color: $light-text-primary;
}

.input-field {
    margin-bottom: 0.3rem;
}

.loadingLabel {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
}

.loadingSpinner {
    display: block;
    margin: 0 auto;
    text-align: center;
}